<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />

  </head>
  <body>
    <!--script src="/static/js/index.js"></script-->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}">
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Fh2ZuEBi7rp2gILfVQlfRDpRrqL1Tdg&callback=initMap"
      async
    ></script>
  <d1>Hello World2</d1>
  </body>
</html>
