<!DOCTYPE html>
<html>
  <head>
    <title id="test_address">Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}">   </script>

    <div id="search">
      <form id="search_form">
          <input type="text"  id="address" placeholder="Type an address or a location" >
          <input type="submit" value="Search" >
      </form>

    </div>


  </head>
  <body>
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Fh2ZuEBi7rp2gILfVQlfRDpRrqL1Tdg&callback=initMap"
      async
    ></script>

    <div class="'content" id="tab">
      <h1 style="text-align : center">Points saved</h1>

      <table border="1">
        <tr>
          <th>- Coordonates -</th>
          <th>- Time -</th>
          <th>- Options -</th>
        </tr>
        {% for point in points%}
        <tr>
          <td>{{point.content}}</td>
          <td>{{point.date_created.time()}}</td>

          <td>
            <a href="/delete/{{point.id}}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <form method="POST" id="add_points">
          <input type="text" name="content" id="content" style="width :80%" placeholder="Copy and paste 2 point coordinates and click on 'Add Points'" >
        <input type="submit" value="Add points" >
      </form>


    </div>
  </body>
</html>
